
.banner {
	height: 500px;
    background: linear-gradient(45deg, #193aa5, #886abf);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 60px;
}

.banner .col h2 {
    font-family: 'Montserrat';
    font-weight: lighter;
    font-size: 70px;
    color: rgba(255,255,255,.7);
}

.banner .col h2:nth-child(2) {
    font-family: 'Open Sans' , 'Helvetica' , sans-serif;
    font-weight: lighter;
    font-size: 25px;
}

.banner .col h2:nth-child(1) {
    color: white;
}

.banner input {
    background: transparent;
    border: 2px solid rgba(255,255,255,.6);
    width: 80%;
    margin: 20px auto;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 5px;
    transition: .8s;
    color: white;
}

.banner input:focus {
    background: white;
    outline: none;
    color: #2e43aa;
}

.banner button {
    border-radius: 5px;
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 8px 25px;
    font-size: 15px;
    font-weight: bold;
    opacity: .7;
    transition: .6s;
}

.banner button:hover {
    background: white;
    color: #2e43aa;
}

.banner img {
	width: 100%;
}

section {
	padding: 80px 40px;
}



section.karya .kategori button {
    border: 0px;
    background: white;
    margin: 10px;
    box-shadow: -2px -2px 5px #ffffff, 2px 2px 5px #cbe4ec;
    padding: 5px 15px;
    border-radius: 10px;
    color: #00a5e4;
}

section.karya .card-thumb {
	display: block;
    height: 230px;
    margin: 35px 15px;
    box-shadow: 8px 8px 15px #d1e3ec, -8px -8px 15px white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: .6s;
}

section.karya .card-thumb img {
	width: 100%;
	transition: .5s .1s;
}

section.karya .card-thumb:hover {
	background: white;
    box-shadow: none;
}

section.karya .card-thumb:hover img {
	transform: scale(1.07);
}

.card-style {
    margin: 30px 15px;
    background: linear-gradient(45deg, #8aa2f0, #ce9de0);
    padding: 30px 15px;
    border-radius: 10px;
    color: white;
    font-family: 'Open Sans' , 'Arial' , sans-serif;
}

.card-style .card-img {
    margin: 10px auto;
    margin-bottom: 25px;
    height: 180px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    transition: .5s .1s;
}

.card-style .card-img img {
    height: 100%;
    width: auto;
    transition: .7s;
}

.card-style .card-img:hover {
	transform: scale(1.1);
}

.card-style .card-img:hover img {
    transform: scale(1.15);
    filter: brightness(1.15);
}

.card-style .card-content {
	margin: 20px auto;
}

.card-style .card-content h4 {
	font-size: 20px;
}

.card-style .card-content p {
    font-size: 14px;
    opacity: .8;
}

.card-style .card-footer {
    margin: 20px auto;
}

.card-style .card-footer .socmed {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    margin: 15px auto;
}

.card-style .card-footer .socmed img {
    height: 35px;
    width: 35px;
    opacity: .6;
    transition: .4s;
}



.card-style .card-footer .socmed img:hover {
    opacity: 1;
    filter: brightness(130%);
    transform: translateY(-10px);
}

.card-style .card-footer a.btn-card {
	display: inline-block;
    background: rgba(255,255,255,.7);
    color: #b49fe6;
    font-family: 'Montserrat' , 'Helvetica' , sans-serif;
    padding: 10px 25px;
    border-radius: 10px;
    transition: .4s;
}

.card-style .card-footer a.btn-card:hover {
	background: white;
}



@media(max-width: 800px) {
    .banner {
        flex-direction: column;
        padding: 50px 17px;
        text-align: center;
    }   

    .banner .col h2:nth-child(1) {
        font-size: 35px;
    }

    .banner .col h2:nth-child(2) {
        font-size: 20px;
    }

    .banner button {
        margin: 10px;
    }
}

@media(max-width: 400px) {
    .banner {
        flex-direction: column;
        padding: 50px 17px;
        text-align: center;
    }   

    .banner .col h2:nth-child(1) {
        font-size: 35px;
    }

    .banner .col h2:nth-child(2) {
        font-size: 20px;
    }

    .banner button {
        margin: 10px;
    }


     section {
        padding: 20px 10px;
      }
}